* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  display: flex;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
  height: 3735px;
  background-image: url(./Images/garrett-parker-DlkF4-dbCOU-unsplash1.jpg),
    url(./Images/Rectangle\ 33.jpg);
  background-position: top, bottom;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

main {
  box-sizing: border-box;
}

h1 {
  width: 892px;
  height: 225px;
  font-family: "Aleo", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}

h2 {
  font-family: "Red Hat Text", sans-serif;
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  line-height: 53px;
  color: #f2785c;
}

h3 {
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 42px;
  color: #0d606f;
}

.header {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  padding: 0 120px;
  width: 1440px;
  height: 90px;
  background: rgba(242, 120, 92, 0.7);
  box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
}

.logo {
  display: flex;
  margin: 24px 0 34px 0;
}

.navigation {
  display: flex;
  margin-left: 158px;
  margin-top: 35px;
  width: 537px;
  height: 21px;
}

.navigation a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  height: 100%;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
}

.navigation ul {
  list-style: none;
  text-align: left;
}

.navigation li {
  display: inline-flex;
  margin-right: 38.5px;
}

.navigation li:last-child {
  margin: 0;
}

.button {
  box-sizing: border-box;
  display: flex;
  background-color: #0d606f;
  border: none;
  color: white;
  font-family: "Red Hat Text", sans-serif;
  font-style: normal;
  font-weight: 500;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  transition: 0.3s;
}

.button:hover {
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  color: #f2785c;
  cursor: pointer;
}

.small {
  margin: 25px 0 auto auto;
  font-size: 16px;
  width: 103px;
  height: 41px;
}

.huge {
  margin: 18px 0 18px auto;
  font-size: 24px;
  line-height: 32px;
  width: 228px;
  height: 59px;
}

.serch {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  padding: 18px;
  margin-top: 44.5px;
  width: 892px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}

.serchWords {
  font-family: "Aleo", sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f2785c;
  margin-left: 22px;
}

.main {
  width: 1440px;
  height: 3584px;
  overflow: hidden;
}

.preview {
  flex-direction: row;
  box-sizing: border-box;
  padding: 32px 120.5px;
  height: 756px;
  left: 0px;
  top: 90px;
}

.previewWords {
  display: flex;
  width: 723px;
  height: 24px;
  font-family: "Aleo", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
}

.steps {
  height: 344px;
}

.stepsBox {
  flex-direction: row;
  display: inline-flex;
  height: 290px;
  width: 100%;
}

.stepBox {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 33%;
}

.bikeWords {
  display: inline-flex;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
  width: 247px;
  height: 24px;
  margin-left: 131px;
  margin-top: 30px;
}

.dateWords {
  display: inline-flex;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
  width: 247px;
  height: 24px;
  margin-left: 134px;
  margin-top: 30px;
}

.planeWords {
  display: inline-flex;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
  width: 317px;
  height: 24px;
  margin-left: 41px;
  margin-top: 30px;
}

.stepBox div {
  margin-top: 39px;
  transition: 0.3s;
}

.stepBox div:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.bike {
  margin-left: 204px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  left: calc(50% - 100px / 2);
  top: calc(50% - 100px / 2);
  border-radius: 16px;
  background-color: #f2785c;
}

.plane {
  margin-left: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  left: calc(50% - 100px / 2);
  top: calc(50% - 100px / 2);
  border-radius: 16px;
  background-color: #f2785c;
}

.date {
  margin-left: 195px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  left: calc(50% - 100px / 2);
  top: calc(50% - 100px / 2);
  border-radius: 16px;
  background-color: #f2785c;
}

.destinations {
  height: 1122px;
}

.destinations button {
  margin: 40px auto;
}

#slider {
  display: flex;
  justify-content: space-between;
  width: 4240px;
  margin: 46px 0 0 -1400px;
}

#slider img {
  border-radius: 16px;
}

#slider div {
  position: relative;
}

#slider span {
  position: absolute;
  top: 717px;
  left: 15px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #ffffff;

}

.stories {
  height: 1363px;
  left: 0px;
  background: rgba(255, 255, 255, 0.7);
}

.dots {
  display: flex;
  justify-content: space-between;
  margin: 19px auto;
  width: 80px;
}

.dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: rgba(242, 120, 92, 0.5);
  display: inline-block;
}

.dotMid {
  background: #f2785c;
}

.arrow {
  margin-right: 13px;
}

.storiesBox {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 65px auto;
}

.storiesBox button {
  margin: 24px auto;
}

.storiesImg {
  width: 400px;
  height: 250px;
  background: url(robin-noguier-sydwCr54rf0-unsplash.jpg);
  filter: drop-shadow(0px 4px 4px #0d606f);
  border-radius: 16px;
}

.storiesItem {
  display: flex;
  margin: 15px auto;
}

.storiesItem h3 {
  margin-bottom: 23px;
}

.storiesItem a {
  font-family: "Aleo";
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
}

.storiesText {
  width: 760px;
  height: 184px;
  font-family: "Aleo";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0d606f;
  margin-left: 40px;
}

.footer {
  display: flex;
  flex-direction: row;
}

.footer p {
  width: 260px;
  height: 20px;
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin: 21px 0 20px 280px;
}

.footerIcons {
  display: flex;
  margin: 14px auto auto 328px;
  width: 140.96px;
}

.footerIcons ul {
  justify-content: space-between;
  display: flex;
  width: 100%;
  list-style: none;
}

.footerIcons li {
  display: flex;
  align-items: center;
}

.customIcons {
  display: flex;
  margin: 14px auto auto 50px;
  width: 140px;
}

.customIcons ul {
  justify-content: space-between;
  display: flex;
  width: 100%;
  list-style: none;
}

.customIcons li {
  display: flex;
  align-items: center;
}
